<%- include('partials/header') %>

<main class="main_index">
    <h2 class="main_quote"> I know people heal by being able to tell the story - the whole story. 
        <span class="main_quote--author">Clarissa Pinkola Estés</span>
    </h2>

    
</main>

<%- include('partials/footer') %>