
html, body {
    height: 100%; 
    font-family: 'Vollkorn', serif;
}

                        /** HOMEPAGE **/


/*Header box*/
    #header{
        background-color: white;
        text-align: center; 
        display: flex;
        align-items: center;
        justify-content:space-between; 
        padding: 5px;
        
    }

    #header .toggle {
        position:relative; 
        width: 40%;
        height: 40%; 
       
    }

/*Website title*/

.website-title {
    font-family: 'Megrim', cursive;
}

.website-title a{color:black}

#header a, a > span {
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 24px;
}

#header a:before, a:after,  a > span:before,  a > span:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
}

  
/*Navigation links*/
    .nav_index a {
        text-decoration: none; 
        font-family: 'Vollkorn', serif;  
    }
    .nav_index_links {
        color:black;
        padding: 10px 12px;
        font-size: 100%;
        display: block;  
        text-align: center; 
        float:left;  
}

/* Quote box + Image   */
    .main_index {
        background-image: url('/images/index.jpg');
        width:100%;
        height: 100%; 
        background-size: 100%; 
        background-repeat: no-repeat;
        
    }

    .vignette {
        background-image: url(/images/explore.png);
        background-color: #47423e1f;
        border-radius: 300px;
        background-repeat: no-repeat;
        width: 200px;
        height: 200px;
        background-size: cover;
        position: absolute;
        left: 60%;
        top: 30%;
        border: 2px solid #ddc38a42;
        
    }
    

/*FOOTER*/


/*Footer*/
    .footer_index {
        background-color: white; 
        text-align: center; 
        padding: 5px; 
    }

    .footer_index h3 {
        font-family: 'Vollkorn', serif;  
    }


                    /** COUNTRIES PAGE **/

.countries-content{
    background-image: url(/images/countries.jpg);
    width:100%;
    height: 100%; 
    background-size: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    text-align: center; 
    display:flex;  
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

.flag-countries {
    background-image: url(/images/flag.png);
    background-repeat: no-repeat;
    width: 160px;
    height: 160px;
    margin-top: 10px;
    background-size: cover;
}


.flag-countries a {
    color: black;
    line-height: 130px;
    text-decoration: none;
    font-family: 'Vollkorn', serif;
    font-size: 1em;
    margin-right: 10px;
}

.flag-countries a:hover {
    color: #416b6a;
}

                /** FILTERED BY COUNTRY **/
.country-content {
    background-image: url(/images/country.jpg);
    width:100%;
    height: 100%; 
    background-size: 100%; 
    background-repeat: no-repeat;
    align-items: center;
    display:flex;  
    justify-content: space-around;
    flex-wrap: wrap; 
    align-self:flex-start;
    overflow: scroll;
}

.header-country {
    background-image: url(/images/globe.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    justify-content: center;
    margin-top: 10px; 
    background-size: cover;
    text-align: center;
    
}

.header-country p{
    margin-top: 35px;
    font-size: 2.5em;
    font-family: 'Dancing Script', cursive;
}


.country-article-container {
    width:auto;
    height: auto;
    background-size: 100%; 
    background-repeat: no-repeat;
    align-items: center;
    display:flex;  
    justify-content: space-around;
    flex-wrap: wrap; 
    margin: 10px; 

}

.no-article-container {
    width:auto;
    height: auto;
    background-size: 100%; 
    background-repeat: no-repeat;
    align-items: center;
    display:flex;  
    justify-content: space-around;
    flex-wrap: wrap; 
    margin: 10px; 
    font-size: 100%; 
}


                    /** ARTICLES PAGE **/

.articles-content{
    background-image: url(/images/articles.jpg);
    width:100%;
    height: 100%; 
    background-size: 100%; 
    background-repeat: no-repeat;
    align-items: center;
    display:flex;  
    justify-content: space-around;
    flex-wrap: wrap; 
    overflow: scroll; 
    
}

.article_container {
    background-color: #ededeb3b;
    margin-top: 10px; 
    padding: 30px; 
    align-items: center;
}

.article_container img {
    width:300px;
    height:200px;
    

}

.article_container span {
    color: rgb(238, 238, 238)
}

.article_container a{
    color: black;
    
}

                    /** LOGIN PAGE **/

.login-content{
    background-image: url(/images/login.jpg);
    width:100%;
    height: 100%; 
    background-size: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    display:flex;  
    justify-content: center;
    flex-wrap: wrap; 
    align-content: center;
    clear: both;
}

.form-content h2 {
    font-family: 'Megrim', cursive;

}

.login-content form {
    width: 400px;
    height: 300px;
    background-color: #384b68c2;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.form-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 20px;
}

.form-div label{
    margin-top:10px; 
    display: block;
    text-align: left; 
}

.form-content button{
    margin: 10px; 
}

                    /** ADMIN PAGE **/

.admin-container{
    background-image: url(/images/admin-index.jpg);
    background-position: center;
    width:100%;
    height: 100%; 
    background-size: 100%; 
    background-repeat: no-repeat;
    display:flex;  
    flex-flow: column; 
    align-content: center;
    text-align: center; 
    color: white; 
}

.admin-title {
    font-family: 'Megrim', cursive;
    background-color: #2c2b2a; 
    padding: 10px; 
}

.admin-content {
    width: 450px;
    height: 200px;
    margin-top: 15em;
    background-color: #755862cc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 50px;
    align-self: center;
    padding: 50px;
}

.admin-links a {
    padding: 10px;
    color: white;
    border: 2px solid black;
    margin: 10px;
    text-decoration: none;
    border-radius: 50px;

}

.admin-links a:hover {
    color: black; 
    background-color: white; 
    
}


                    /** ADD A NEW ARTICLE PAGE **/


.add-container {
    background-image: url(/images/add.jpg);
    width:100%;
    height: 100%; 
    background-size: 100%; 
    background-position: center; 
    background-repeat: no-repeat;
    display:flex;  
    justify-content: center;
    flex-wrap: wrap; 
    align-content: center;
    clear: both;
    color: white; 
}

.form-container {
    position:relative;
    resize: both;
    overflow: scroll; 
}

.admin-title {
    font-family: 'Megrim', cursive;
    background-color: #2c2b2a; 
    padding: 10px; 
}

.form-label {
    text-decoration: underline; 
    display: block;
}

.form-group textarea {
    resize: horizontal;
}

                    /* DELETE AN ARTICLE */

.delete-container {
    background-image: url(/images/delete.jpg);
    width:100%;
    height: 100%; 
    background-size: 100%; 
    background-repeat: no-repeat;
    display:flex;  
    flex-flow: column; 
    align-content: space-around;
    padding: 50px; 
    overflow: scroll; 
}

.article-container-delete {
    background-color: #c0b196b3; 
    display: flex;
    justify-content: space-between;
    margin: 10px; 
    padding: 20px; 
    border-radius: 25px;
    
}

.article-info span {
    color: white; 
}

.trash-icon a {
    background-color: black;
    color: white; 
}

                /*ONE ARTICLE PAGE*/
.article-post {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding-right: 4vw;
    padding-left: 4vw;
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.article-content {
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    overflow: scroll; 
}

.article-header{
    text-align: center;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.article-img img {
    width: 100%;
    clear: both;
    height: auto; 
    display:block;
    padding-top:0;
    padding-left: 17px; 
    padding-right: 17px; 
    position:relative;
}
.article-description {
    width: auto; 
    

}
.article-text {
    font-size: 18px; 
    white-space: normal;
    line-height: 25px;    
}



/*Link Hover Effects by Jegede Olamide*/
/*https://github.com/jegedeolamide99*/

.hover-6 {
    display: inline-flex;
    overflow: hidden;
  }
  .hover-6:before, .hover-6:after {
    right: 0;
    bottom: 0;
    background: #492059;
    transition: transform .3s ease;
  }
  .hover-6:before {
    width: 100%;
    height: 2px;
    transform: translateX(-100%);
    transition-delay: .9s;
  }
  .hover-6:after {
    width: 2px;
    height: 100%;
    transform: translateY(100%);
    transition-delay: .6s;
  }
  .hover-6 > span {
    display: flex;
    padding: 10px;
  }
  .hover-6 > span:before, .hover-6 > span:after {
    left: 0;
    top: 0;
    background: #492059;
    transition: transform .3s ease;
  }
  .hover-6 > span:before {
    width: 100%;
    height: 2px;
    transform: translateX(100%);
    transition-delay: .3s;
  }
  .hover-6 > span:after {
    width: 2px;
    height: 100%;
    transform: translateY(-100%);
    transition-delay: 0s;
  }
  .hover-6:hover:before, .hover-6:hover:after, .hover-6:hover > span:before, .hover-6:hover > span:after {
    transform: translate(0, 0);
  }
  .hover-6:hover:before {
    transition-delay: 0s;
  }
  .hover-6:hover:after {
    transition-delay: .3s;
  }
  .hover-6:hover > span:before {
    transition-delay: .6s;
  }
  .hover-6:hover > span:after {
    transition-delay: .9s;
  }
/*hover-3*/
  .hover-3 {
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 5px;
    overflow: hidden;
  }
  .hover-3:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #492059;
    transform: translateX(-100%);
  }
  .hover-3:hover:before {
    transform: translateX(0);
  }


  /*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */ 
    @media only screen and (min-width : 320px) {
        /**HOMEPAGE**/
        .main_index {
            background-size: 550%;
            background-position: center; 
        }
        .vignette {
            width: 130px;
            height: 130px;
            left: 35%;
        }

        /**COUNTRIES**/
        .countries-content {
            background-size: 550%;
        }

        /**FILTERED BY COUNTRY**/
        .country-content {
            background-size: 400%; 
            overflow-x:hidden;
        }

        /**ARTICLES**/
        .articles-content {
            background-size: 400%;
            overflow-x: hidden; 
        }
        .article_container {
            padding:10px; 
        }

        /**LOGIN**/
        .login-content {
            background-size: 550%; 
        }

        .form-content {
            padding: 5px; 
        }

        .login-content form {
            width: 400px;
            height: 300px;
        }

        /**ADMIN**/
        .admin-container {
            background-size: 550%;
        }

        .admin-content{
            width: 310px;
            height: 160px; 
            padding: 20px; 
        }

        /**ADD**/
        .add-container {
            background-size: 550%;
        }

        /**DELETE**/
        .delete-container {
            background-size: 550%; 
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        /**HOMEPAGE**/
        .main_index {
            background-size: 400%; 
            background-position: center;
        }

        /**COUNTRIES**/
        .countries-content {
            background-size: 400%;
        }

        /**LOGIN**/
        .login-content {
            background-size: 400%; 
        }

        .form-content {
            padding: 10px; 
        }

        .login-content form {
            width: 400px;
            height: 300px;
        }

        /**ADMIN**/
        .admin-container {
            background-size: 400%;
        }

        .admin-content{
            width: 310px;
            height: 160px; 
            padding: 20px; 
        }

        /**ADD**/
        .add-container {
            background-size: 400%;
        }

        /**DELETE**/
        .delete-container {
            background-size: 400%; 
        }


    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        /**HOMEPAGE**/
        .main_index {
            background-size: 250%; 
            background-position: center;
        }

        /**COUNTRIES**/
        .countries-content {
            background-size: 250%;
        }

        /**LOGIN**/
        .login-content {
            background-size: 250%; 

        }

        /**ADMIN**/
        .admin-container {
            background-size: 250%;
        }

        /**ADD**/
        .add-container {
            background-size: 250%;
        }

        /**DELETE**/
        .delete-container {
            background-size: 250%; 
        }

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        /**HOMEPAGE**/
        .main_index {
            background-size: 200%; 
            background-position: center;
        }

        /**COUNTRIES**/
        .countries-content {
            background-size: 200%;
        }

        /**LOGIN**/
        .login-content {
            background-size: 200%; 

        }

        /**ADMIN**/
        .admin-container {
            background-size: 200%;
        }

        /**ADD**/
        .add-container {
            background-size: 200%;
        }

        /**DELETE**/
        .delete-container {
            background-size: 200%; 
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

        /**HOMEPAGE**/
        .main_index {
            background-size: 180%; 
        }
        .vignette {
            width: 250px;
            height: 250px;
        }

        /**COUNTRIES**/
        .countries-content {
            background-size: 180%;
        }

        /**LOGIN**/
        .login-content {
            background-size: 180%; 

        }

        /**ADMIN**/
        .admin-container {
            background-size: 180%;
        }

        /**ADD**/
        .add-container {
            background-size: 180%;
        }

        /**DELETE**/
        .delete-container {
            background-size: 180%; 
        }
    }

   