<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" , initial-scale=1.0, shrink-to-fit="no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Reset CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Really beautiful CSS -->
    <link href="/css/style.css" rel="stylesheet">


    <title>The African Bard</title>
</head>

<body>

    <header id="header">

        <a href="/">
            <img src="/images/logo.png" alt="The African Bard" width="80" height="80">
        </a>

        <h1 class="header_title">Travel Diaries</h1>

        <a href="#">
            <img src="/images/admin.jpg" alt="Admin" width="50" height="40">
        </a>


    </header>

    <nav class="nav_index ">
        <a href="/countries" class="nav_index_links">Country</a>
        <a href="/articles" class="nav_index_links">Articles</a>
        <a href="#" class="nav_index_links">About</a>
        <a href="#" class="nav_index_links">Contact</a>
        <a href="#" class="nav_index_links">Login</a>
    </nav>