<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" , initial-scale=1.0, shrink-to-fit="no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Reset CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Really beautiful CSS -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Content Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital@0;1&display=swap" rel="stylesheet">
    <!-- Title Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Megrim&display=swap" rel="stylesheet">
    <!-- Country Title Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    <!--Load all Font Awesome styles -->
    <link href="/css/all.css" rel="stylesheet">
    <script defer src="/js/all.js"></script>


    <title>The African Bard</title>
</head>

<body>
    <header id="header">


        <h2 class="website-title">
            <a href="/" class="hover-6"><span>The African Bard</span>
            </a>
        </h2>

        <nav class="nav_index">
            <a href="/countries" class="nav_index_links hover-3">Country</a>
            <a href="/articles" class="nav_index_links hover-3">Articles</a>
            <a href="#" class="nav_index_links hover-3">About</a>
            <a href="#" class="nav_index_links hover-3">Contact</a>
            <a href="/login" class="nav_index_links hover-3">Admin</a>
        </nav>
    </header>