<%- include('partials/header'); %>

<div class="admin-content">
    <h2 class="admin-title">Welcome to the webmaster page</h2>

    <h3 class="admin-message">What would you like to do ?</h3>

    <button class="delete-article" onclick="window.location.href='/admin/delete';">Delete an article</button>

    <button class="add-article" onclick="window.location.href='/admin/add';">Add a new article</button>



</div>



<%- include('partials/footer'); %>