<%- include('partials/header'); %>

<div class="admin-container">

    <div class="admin-title">
        <h2>Welcome to the webmaster page</h2>
    </div>

    <div class="admin-content">
        <div class="admin-message">
            <h3>What would you like to do ?</h3>
        </div>


        <div class="admin-links">
            <a href="/admin/delete" class="delete-article">
                Delete
            </a>

            <a href="/admin/add" class="add-article">
                Add
            </a>
        </div>

    </div>

</div>



<%- include('partials/footer'); %>