<%- include('partials/header'); %>

<div class="countries-content">

    <% for (const country of countries) { %>

    <div class="flag-countries">
        <a href="/countries/<%=country.id%>/articles">
        <%= country.name %>
        </a>
    </div>


    <% } %>
</div>




<%- include('partials/footer'); %>