<%- include('partials/header'); %>


<main class="main_index">

    <a href="/countries" class="homepage-title">
        <div class="vignette"></div>
        
    </a>


</main>


<%- include('partials/footer'); %>