<%- include('partials/header'); %>


<main class="main_index">

<button onclick="window.location.href='/countries';" class="button">Choose a destination</button>

</main>


<%- include('partials/footer'); %>